
body {
  font-family: monospace;
}


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.primary-button {
  background-color:  #5852b2;
  outline: none;
  color: white;
  padding: 16px;
  border-radius: 32px;
  margin: 24px;
  border: none;
  font-family: monospace;
}

.primary-button:hover{
  background-color: #47478e;
}

.typewriter {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
          typing 3.5s steps(30, end),
          blink-caret .5s step-end infinite;
}

.css-typing {
  display: none;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.main-title-logos-container {
  margin: 15px
}

.main-title-logos-container a {
  margin: 10px;
  font-size: 14px;
  display: inline-block;
  color: #5852b2;
}


.main-title-logos{
  height: 32px;
  margin: 5px;
}

.main-card {
  min-height: 150px;
  width: 600px;
  background-color: #343940;
  border-radius: 16px;
  margin: 32px;
  padding: 32px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.main-card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.card-title {
  margin-bottom: 8px;
}

.card-content {
  font-size: 16px;
  text-align: initial;
}

.content-title {
  margin: 64px;
}

.general-link {
  background-color:  #5852b2;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  color: white;
}

.with-more-space {
  margin: 30px 0 60px 0;
  font-size: 18px;
}

.topic {
  text-decoration: underline;
  font-size: 18px;
  text-align: initial;
}

@media only screen and (max-width: 768px) {

  .main-card {
    min-height: 100px;
    width: auto;
  }

  .typewriter {
   display:none;
  }

  .css-typing {
      display: block;
  }

  .css-typing p {
    border-right: .15em solid orange;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
  }
  .css-typing p:nth-child(1) {
    width: 7.3em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(2) {
    width: 12.1em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(3) {
    width: 12em;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }

  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }

  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }

  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }

  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }

}
